<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>validacionUsers</servlet-name>
        <servlet-class>validaciones.validacionUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validacionUsers</servlet-name>
        <url-pattern>/ValidarUsuarios</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReportesSII</servlet-name>
        <servlet-class>reportes.ReportesSII</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportesSII</servlet-name>
        <url-pattern>/ReportesSII</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Directorio</servlet-name>
        <servlet-class>reportes.Directorio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Directorio</servlet-name>
        <url-pattern>/Directorio</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DirectorioAdministrador</servlet-name>
        <servlet-class>reportes.DirectorioAdministrador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DirectorioAdministrador</servlet-name>
        <url-pattern>/DirectorioAdministrador</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Impresion_1</servlet-name>
        <servlet-class>reportes.Impresion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Impresion_1</servlet-name>
        <url-pattern>/Impresion_1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProcesoEvaluacion</servlet-name>
        <servlet-class>reportes.ProcesoEvaluacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesoEvaluacion</servlet-name>
        <url-pattern>/ProcesoEvaluacion</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>InstitucionesAcred</servlet-name>
        <servlet-class>reportes.InstitucionesAcred</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InstitucionesAcred</servlet-name>
        <url-pattern>/InstitucionesAcred</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CertificadosMarca</servlet-name>
        <servlet-class>reportes.CertificadosMarca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CertificadosMarca</servlet-name>
        <url-pattern>/CertificadosMarca</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RepECMarca</servlet-name>
        <servlet-class>reportes.RepECMarca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RepECMarca</servlet-name>
        <url-pattern>/RepECMarca</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ReportesSector</servlet-name>
        <servlet-class>reportes.ReportesSector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportesSector</servlet-name>
        <url-pattern>/ReportesSector</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>validaciones.UpdatePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    
    
<servlet>
    <servlet-name>Comportamiento</servlet-name>
    <servlet-class>estadisticas.Comportamiento</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Comportamiento</servlet-name>
    <url-pattern>/Comportamiento</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ReportesSolicitudFinanzas</servlet-name>
    <servlet-class>reportes.ReportesSolicitudFinanzas</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ReportesSolicitudFinanzas</servlet-name>
    <url-pattern>/ReportesSolicitudFinanzas</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>ReportesCertificados</servlet-name>
    <servlet-class>reportes.ReportesCertificados</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ReportesCertificados</servlet-name>
    <url-pattern>/ReportesCertificados</url-pattern>
</servlet-mapping>
    
    <!-- Servlet para descargar reportes -->
    <servlet>
        <servlet-name>descargarReporte</servlet-name>
        <servlet-class>reportes.descargarReporte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>descargarReporte</servlet-name>
        <url-pattern>/descargarReporte</url-pattern>
    </servlet-mapping>
    <!-- Configuración de la sesión -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    
    <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>forceEncoding</param-name>
        <param-value>true</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>


</web-app>
